<!DOCTYPE html>
<html ng-app="myApp" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>Questions</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Farsan|Montserrat|Open+Sans+Condensed:300" rel="stylesheet">
  </head>
  <body ng-controller="AppController">
    <header>
      <div class="navigation">
        <h3>QUESTIONS <span class="glyphicon glyphicon glyphicon-plus-sign"></span>

          <div class="sort-by">
            <span class="sort-title">Sort by:</span> <span class="active option">recent</span> <span class="sort-title">or</span> <span class="option">hot</span>
          </div>
          <div class="radio-buttons">
            <label class="radio-inline"><input type="radio" name="optradio">My shelf</label>
            <label class="radio-inline"><input type="radio" name="optradio">All questions</label>
          </div>

        </h3>

      </div>
      <div class="search">
        <input type="text" name="search" placeholder="Search question">
        <button type="button">SEARCH</button>
      </div>

    </header>



    <main>

      <div ng-repeat="qstn in questions | limitTo:quantity" class="question-box">
        <div class="question-pane">
          <img class="img-circle avatar" src="../images/default-avatar.jpg">
          <p class="asked-title question-pane-text">ASKED</p>
          <div class="question-text">
            <p><span class="name">{{profile[qstn.author].name}}</span> <span class="question-pane-text">IS ASKING:</span></p>
            <p><span class="qstn-title">{{qstn.title}}</span></p>
          </div>
          <div class="commenters-pane">
            {{getComments(qstn.id)}}
            <div ng-if="qstnComments.length > 4" class="commenter-div more-activities-box">
              <p>{{qstnComments.length}}</p>
              <div class="answer-info">
                <p>more activities</p>
                <span class="dot">●</span>
              </div>
            </div>
            <div ng-repeat="commenter in qstnComments | limitTo:4" class="commenter-div">

              <img class="img-circle avatar" src="../images/default-avatar.jpg">

              <div ng-if="commenter.answered === true" class="answer-info answered">
                <p ng-if="commenter.answered === true" class="commenters-pane-text question-pane-text">ANSWERED</p>
                <span class="dot">●</span>
              </div>
              <div ng-if="commenter.answered != true" class="answer-info">
                <p ng-if="commenter.answered != true" class="commenters-pane-text question-pane-text">COMMENTED</p>
                <span class="dot">●</span>
              </div>

            </div>
          </div>
        </div>
        <div class="question-data-pane">
          <p>{{qstn.related}} <span>related discussion</span></p>
          <p>{{qstn.peers}} <span>peers involved</span></p>
          <p>{{qstn.conversations}} <span>conversations</span></p>
        </div>

      </div>
      <div ng-if="questions.length > quantity" class="load-more">
         <p class="load-more-text" ng-click="showMore()">load more questions</p>
     </div>


    </main>
    <script src="../scripts/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js "></script>
    <script src="../scripts/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
