* {
  margin: 0;
  border: 0;
}

body {
  background: #ffe6b3;
  padding: 50px 30px;
}

header {
  width: 100%;
  position: fixed;
  height: 120px;
  top: 0;
  left: 0;
  background: white;
  z-index: 2;
  margin-top: 0px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}

header .navigation {
  width: 850px;
  margin: auto;

}

header .search {
  width: 850px;
  margin: auto;
  margin-top: 15px;
}

.navigation h3 {
  font-family: Times;
}

.radio-buttons {
  float: right;
  margin: 0 10px;
}

.radio-inline {
  font-size: 13px;
  font-weight: bold;
  font-family: "Montserrat";
  margin: 0 5px;
}

.sort-by {
  float: right;
  margin-left: 10px;
}

.sort-by .sort-title {
  font-size: 13px;
  font-style: italic;
  font-family: "Montserrat";
}

.sort-by .option {
  font-size: 14px;
  color: blue;
  font-family: "Montserrat";
  margin: 3px;
  cursor: pointer;
}

.sort-by .active {
  color: grey;
  text-decoration: underline;
}

.radio-inline input {
  margin-top: 2px;
}

.navigation .glyphicon {
  color: blue;
  font-size: 19px;
  margin-left: 10px;
}

header .search input {
  border-radius: 0px;
  border: 1px solid #e0e4cc;
  background: #f6f7f2;
  height: 35px;
  width: 75%;
  padding: 0 15px;
  font-family: "Times";
  font-size: 16px;
  float: left;
}

header .search button {
  width: 22%;
  height: 35px;
  float: right;
  margin: 0 5px;
  background: white;
  border-radius: 0px;
  border: 1px solid #95a5a6;
  font-family: "Montserrat";
}

main {
  margin-top: 70px;
  padding: 0;
  width: 100%;
  background: #f9f9f9;
  min-height: 900px;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}

.question-box {
  width: 850px;
  height: 325px;
  margin: auto;
  background: white;
  padding: 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}

.question-pane {
  position: relative;
  float: left;
  width: calc(100% - 225px);
  height: calc(100% - 45px);
  background: #e1fafc;
}

.question-text {
  position: absolute;
  margin-top: 20px;
  margin-left: 90px;
}

.question-data-pane {
  float: right;
  margin-top: 100px;
  width: 220px;
  right: 0;
  top: 0;
  height: calc(100% - 145px);
  background: white;
}

.commenters-pane {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 90px);
  height: calc(100% - 100px);
  background: white;
}

.load-more {
  display: block;
  width: 850px;
  height: 100px;
  margin: auto;
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  padding: 0 40px;
  line-height: 100px;
  vertical-align: middle;
}

.load-more-text {
  color: #f22613;
  font-family: "Times";
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.avatar {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 20px;
}

.name, .qstn-title {
  color: #446cb3;
}

.name {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
}

.qstn-title {
  font-family: 'Farsan', cursive;
  font-size: 22px;
  font-weight: bold;
}

.question-pane-text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: grey;
}

.asked-title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2px 10px;
  padding: 3px 20px;
  border-top: 1px solid grey;
  font-size: 14px;
}

.question-data-pane p {
  display: block;
  position: relative;
  margin: 25px 35px;
  font-weight: bold;
  font-size: 16px;
}

.question-data-pane span {
  font-family: 'Farsan', cursive;
  font-size: 20px;
}

.commenter-div {
  position: relative;
  float: left;
  width: 95px;
  height: 150px;
  background: #e0e4cc;
  margin-left: 10px;
  margin-top: 30px;
  text-align: center;
}

.more-activities-box {
  background: white;
}

.answer-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0 10px;
}

.commenters-pane-text {
  border-top: 1px solid grey;
  font-size: 14px;
  padding: 3px 5px;
  margin: 2px 0;
  cursor: pointer;
}

.answer-info .dot {
  position: absolute;
  font-size: 30px;
  margin-top: -21px;
  cursor: pointer;
  color: grey;
  margin-left: -7px;
}

.answered .commenters-pane-text {
  border-top: 1px solid black;
}

.answered .dot {
  color: black;
}

.commenter-div img {
  position: relative;;
  margin: 0;
  margin-top: 20px;
}

.more-activities-box {
  font-weight: bold;
}

.more-activities-box .answer-info p {
  font-family: 'Farsan', cursive;
  font-size: 18px;
}

.more-activities-box > p {
  margin-top: 35px;
  font-size: 16px;
}
