* {
  margin: 0;
  border: 0;
}

body {
  background: #ffe6b3;
  padding: 50px 0px;
}

/*
*************      Code for the header       *****************
*/

header {
  width: 100%;
  position: fixed;
  height: 120px;
  top: 0;
  left: 0;
  background: white;
  padding: 0 5px;
  z-index: 2;
  margin-top: 0px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}

header .navigation {
  width: 850px;
  width: 100%;
  margin: auto;

}

header .search {
  width: 850px;
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.navigation h3 {
  font-family: Times;
}

.radio-buttons {
  float: right;
  margin: 0 10px;
  display: none;
}

.radio-inline {
  font-size: 13px;
  font-weight: bold;
  font-family: "Montserrat";
  margin: 0 5px;
}

.sort-by {
  float: right;
  margin-left: 10px;
  display: none;
}

.sort-by .sort-title {
  font-size: 13px;
  font-style: italic;
  font-family: "Montserrat";
}

.sort-by .option {
  font-size: 14px;
  color: blue;
  font-family: "Montserrat";
  margin: 3px;
  cursor: pointer;
}

.sort-by .active {
  color: grey;
  text-decoration: underline;
}

.radio-inline input {
  margin-top: 2px;
}

.navigation .glyphicon {
  color: blue;
  font-size: 19px;
  margin-left: 10px;
  float: right;
}

header .search input {
  border-radius: 0px;
  border: 1px solid #e0e4cc;
  background: #f6f7f2;
  height: 35px;
  width: 75%;
  padding: 0 15px;
  font-family: "Times";
  font-size: 16px;
  float: left;
}

header .search button {
  width: 22%;
  height: 35px;
  float: right;
  margin: 0 5px;
  background: white;
  border-radius: 0px;
  border: 1px solid #95a5a6;
  font-family: "Montserrat";
}

/*
*************      Code for the questions pane       *****************
*/

main {
  margin-top: 70px;
  padding: 0;
  width: 100%;
  background: #f9f9f9;
  min-height: 900px;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}

.question-box {
  width: 850px;
  width: 100%;
  height: 150px;
  margin: auto;
  background: white;
  padding: 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1px;
}

.question-pane {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background: #e1fafc;
}

.question-text {
  position: absolute;
  margin-top: 20px;
  margin-left: 90px;
}

.question-data-pane {
  float: right;
  margin-top: 100px;
  width: 220px;
  right: 0;
  top: 0;
  height: calc(100% - 145px);
  background: white;
  display: none;
}

.commenters-pane {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 90px);
  height: calc(100% - 100px);
  background: white;
  display: none;
}

.load-more {
  display: block;
  width: 850px;
  width: 100%;
  height: 100px;
  margin: auto;
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  padding: 0 40px;
  line-height: 100px;
  vertical-align: middle;
}

.load-more-text {
  color: #f22613;
  font-family: "Times";
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.avatar {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 20px;
  cursor: pointer;
}

.name, .qstn-title {
  color: #446cb3;
}

.name {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.qstn-title {
  font-family: 'Farsan', cursive;
  font-size: 22px;
  font-weight: bold;
}

.question-pane-text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: grey;
}

.asked-title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2px 10px;
  padding: 3px 20px;
  border-top: 1px solid grey;
  font-size: 14px;
}

.question-data-pane p {
  display: block;
  position: relative;
  margin: 25px 35px;
  font-weight: bold;
  font-size: 16px;
}

.question-data-pane span {
  font-family: 'Farsan', cursive;
  font-size: 20px;
}

.commenter-div {
  position: relative;
  float: left;
  width: 95px;
  height: 150px;
  background: #e0e4cc;
  margin-left: 10px;
  margin-top: 30px;
  text-align: center;
}

.more-activities-box {
  background: white;
}

.answer-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0 10px;
}

.commenters-pane-text {
  border-top: 1px solid grey;
  font-size: 14px;
  padding: 3px 5px;
  margin: 2px 0;
  cursor: pointer;
}

.answer-info .dot {
  position: absolute;
  font-size: 30px;
  margin-top: -21px;
  cursor: pointer;
  color: grey;
  margin-left: -7px;
}

.answered .commenters-pane-text {
  border-top: 1px solid black;
}

.answered .dot {
  color: black;
}

.commenter-div img {
  position: relative;;
  margin: 0;
  margin-top: 20px;
}

.more-activities-box {
  font-weight: bold;
}

.more-activities-box .answer-info p {
  font-family: 'Farsan', cursive;
  font-size: 18px;
}

.more-activities-box > p {
  margin-top: 35px;
  font-size: 16px;
}

/*
*******************   Code for profile modal    ******************
*/

.modal {
  padding: 0;
  /*width: 100%;*/
  margin: 0;
}

.modal-open {
  /*overflow: visible;*/
}

.modal-scrollbar-measure{
  overflow:hidden;
}

.modal-dialog {
  width: 100%;
  margin: 0;
}

.modal-content {
  border-radius: 0px;
}

.modal-header {
  border: none;
}

.user-info {
  text-align: center;
  margin-top: 50px;
}

.user-info h4 {
  color: blue;
  font-family: "Montserrat";
  font-size: 20px;
  margin-left: 40px;
}

.user-info p {
  display: block;
  font-family: 'Farsan', cursive;
  font-size: 18px;
  font-weight: bold;
}

.user-info .modal-user-text, .modal-body .modal-user-text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  color: grey;
  margin-right: 5px;
}

.modal-avatar {
  height: 75px;
  width: auto;
  margin-left: 40px;
  margin-bottom: 10px;
}

.user-info {
  width: 100%;
  border-bottom: 1px solid #e0e4cc;
}

.modal-body {
  text-align: center;
  margin-top: -15px;
}

.modal-body p {
  font-family: 'Farsan', cursive;
  font-size: 35px;
  font-weight: bold;
}

.modal-user-square {
  width: 100px;
  height: 100px;
  background: #c5eff7;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
  line-height: 35px;
  padding-top: 10px;
}

.modal-body .modal-user-square:first-of-type {
  transform: rotate(20deg);
}

.modal-user-square:nth-of-type(2) {
  transform: rotate(-15deg);
}

.modal-user-square:nth-of-type(3) {
  transform: rotate(-5deg);
}

.modal-user-square:last-of-type {
  transform: rotate(12deg);
}

.modal-body .modal-user-square p {
  font-family: 'Farsan', cursive;
  font-size: 18px;
  font-weight: bold;
}

.modal-body .modal-user-square p:first-of-type {
  font-size: 24px;
}

.modal-body .modal-user-square:first-of-type p {
  transform: rotate(-20deg);
}

.modal-user-square:nth-of-type(2) p {
  transform: rotate(15deg);
}

.modal-user-square:nth-of-type(3) p {
  transform: rotate(5deg);
}

.modal-user-square:last-of-type p {
  transform: rotate(-12deg);
}

.modal-user-square-container {
  margin: 35px auto;
  width: 299px;
}


/*
********************    Responsiveness logic    ******************
*/


@media screen and (min-width: 650px) {
  .radio-buttons {
    display: inline-block;
  }

  .sort-by {
    display: inline-block;
  }

  .navigation .glyphicon {
    float: none;
  }

  .question-box {
    height: 325px;
  }

  .question-pane {
    height: calc(100% - 45px);
  }

  .commenters-pane {
    display: inline-block;
  }

  .modal-dialog {
    margin: 20px 0;
  }

  .user-info p {
    display: inline-block;
  }

  .user-info p:last-of-type {
    float: right;
  }

  .user-info p:first-of-type {
    float: left;
  }

  .modal-user-square-container {
    width: 100%;
  }

}

@media screen and (min-width: 900px) {
  header .navigation {
    width: 850px;
  }

  header .search {
    width: 850px;
  }

  .question-box {
    width: 850px;
  }

  .question-pane {
    width: calc(100% - 225px);
  }

  .question-data-pane {
    display: block;
    width: 220px;
  }

  .load-more {
    width: 850px;
  }

  .modal-dialog {
    width: 900px;
    margin: 40px auto;
  }

  .user-info {
    width: 700px;
    margin: auto;
  }

  .modal-body {
    width: 700px;
    margin: auto;
  }

}

@media screen and (min-width: 1100px) {
    body {
        padding: 50px 30px;
    }
}
